@import url(http://fonts.googleapis.com/earlyaccess/notosanskr.css);

html, body{
    font-family: 'Noto Sans KR', sans-serif; 
    background-color: #f1f1f1;
}
#wrap{
    
}
.mark-3p:before{
    content: '3P';
    font-size: 10px;
    padding: 0 2px;
    border: 2px solid #ffffff;
    margin-right:5px;
}