@import url(./common.css);

#main-container{                            
    height: 100%;
    width: 100%;    
    max-width:1600px;       
    border-radius: 10px;    
}
#main-container>.row{
    height:100%;
    padding:20px 30px;    
}
#tp-poster-wrap{
    background-color: #2d2d2d;        
    
}
#tp-poster-wrap, #tp-detail-wrap{
    padding-right:25px;
    padding-left:25px;
    height:100%;
    overflow-y:scroll;
}
#tp-poster, #tp-detail{ 
    width:100%;
}
#tp-poster{    
    color:white;    
}
#tp-poster .headline-wrap{
    display:table;
    margin:0 auto;
}
#tp-poster .headline{    
    height: 120px;
    text-align: center;     
    display:table-cell;
    vertical-align:middle;
}
#tp-poster .hl-title{
    font-size:30px;
}
#tp-poster .hl-subtitle{
    font-size:14px;
}
#tp-poster .hl-subtitle .point-char{
    font-size:20px;
}
#tp-poster .section-wrap{
    margin-top: 30px;
}
#tp-poster .section{
    margin-top:20px;
}
#tp-poster .section .title{
    margin-bottom: 10px;
}
#tp-detail-wrap{
    background-color: #ffffff;
}
#tp-detail{    
    color:#2d2d2d;    
}
#tp-detail .headline-wrap{
    display:table;
    width:100%;       
    margin-top:10px;
}
#tp-detail .headline{
    display: table-cell;    
    position: relative;
    padding:0;
    height: 60px;              
}
#tp-detail .hl-title{     
    bottom:0;
    position: absolute;
    font-size:25px;    
}
#tp-detail .hl-subtitle{       
    position: absolute;
    right:0;
    bottom:0;
    font-size:16px;
}
#tp-detail .hl-subtitle .point-char{
    font-size:20px;
}
#tp-detail .section-wrap{
    margin-top: 30px;
}
#tp-detail .section{
    margin-top:20px;
}
#tp-detail .section .title{
    margin-bottom: 10px;
}