@import url(./common.css);

#main-container{    
    min-height:720px;                    
    height: 100%;
    width: 100%;    
    max-width:1600px;
    background-color: #000000;
    border-radius: 15px;    
}
#main-container>.row{
    height:100%;
    padding:30px;    
}
#tp-poster-wrap{
    background-color: #2d2d2d;        
    
}
#tp-poster-wrap, #tp-detail-wrap{
    padding-right:25px;
    padding-left:25px;
    height:100%;
    overflow-y:scroll;
}
#tp-poster, #tp-detail{ 
    width:100%;
}
#tp-poster{    
    color:white;    
}
#tp-poster .headline-wrap{
    display:table;
    margin:0 auto;
}
#tp-poster .headline{    
    height: 120px;
    text-align: center;     
    display:table-cell;
    vertical-align:middle;
}
#tp-poster .hl-title{
    font-size:30px;
}
#tp-poster .hl-subtitle{
    font-size:14px;
}
#tp-poster .hl-subtitle .point-char{
    font-size:20px;
}
#tp-poster .section-wrap{
    margin-top: 30px;
}
#tp-poster .section{
    margin-top:20px;
}
#tp-poster .section .title{
    margin-bottom: 10px;
}
#tp-detail-wrap{
    background-color: #ffffff;
}
#tp-detail{    
    color:#2d2d2d;    
}